body {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

header h1 {
    font-weight: bold;
    color: #77a466;
    line-height: 23px;
    font-size: 30px;
    text-transform: uppercase;
}

header .half-width {
    padding: 20px 0 20px 0;
}

header span {
    color: black;
}

header img {
    border: 5px solid #77a466;
    border-left-style: none;
    border-right-style: none;
}

nav {
    float: right;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: #77a466;
    padding-left: 20px;
}

/***** NEWS *****/
#news .full-width {
    padding: 0 125px;
}

#news h2 {
    text-transform: uppercase;
    color: #77a466;
    font-size: 18px;
    line-height: 23px;
}

#news p {
    font-size: 16px;
    line-height: 25px;
}

/***** ABOUT *****/
#about {
}

#about .third-width {
    line-height: 18px;
}

#about h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
}

/***** FOOTER *****/
footer {
    clear: both;
    text-align: center;
    padding: 30px 0 30px 0;
    border-top: 3px solid #eee;
}

footer h2 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 23px;
}

footer span {
    font-family: 'Marck Script', cursive;
    color: #77a466;
    text-transform: lowercase;
}
